body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1
{
  font-size: 2rem;
  color: #e2dbdb;
  
}
.btn{
  font-weight: 700;
  border-radius: 300px;
}
.btn-xl{
  padding: 1rem 2rem;
} 
.btn-primary{
  background-color:#d6851e;
  border-color: #d6851e;
  

}
.btn-primary:hover{
  background-color: #d6851e;
  border-width:4px;
  border-color: #d6851e;

}

hr{
  border-color: #d6851e;
  border-width: 6px;
  max-width: 65px;
}
.buffer{
  height: 8rem;
}
.container{
  align-items: center;
 
}
